<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>DemoAlert</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">DemoAlert</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button (click)="showAlert()">CLIIIIIIIICK!</ion-button>
  </div>
</ion-content>

<ion-footer>
  <ion-button expand="full" [routerLink]="['/home']">Home</ion-button>
</ion-footer>
